.post-index-item {
  display: block;
  margin: 60px auto;
  max-width: 600px;
  border: 1px solid #efefef;
  background: white;
}

.post-picture {
  margin: 0;
  padding: 0;
  max-width: 600px;
}

.post-index-item-header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.post-index-item-footer {
}

.username-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: black;
  margin: 20px;
}

.caption-holder {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.caption-username {
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-right: 6px;
  color: black;
}

.caption-text {
  display: block;
  float: left;
  color: black;
  font-size: 14px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.post-time {
  margin: 20px;
  font-size: 15px;
}

.comment-form {
  margin: 23px;
  padding: 10px;
  border-top: 1px solid #efefef;
}

.comment-text-input {
  width: 480px;
  font-size: 14.5px;
  outline: none;
  border: none;
}

.comment-submit {
  display: none;
}

.comment-text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14.5px;
  color: #999999;
  text-align: left;
}
.comment-text-input::-moz-placeholder { /* Firefox 19+ */
  font-size: 14.5px;
  color: #999999;
  text-align: left;
}
.comment-text-input::-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-size: 14.5px;
  text-align: left;
}
.comment-text-input::-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-size: 14.5px;
  text-align: left;
}
