.user-show-container {
  margin-top: 60px;
}

.user-show-body {
  display: flex;
  margin: 47px auto;
  max-width: 980px;
  flex-wrap: wrap;
}

.user-show-image {
  display: block;
  width: 294px;
  height: 294px;
  margin: 14px;
}

.user-show-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-show-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.username-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.username-title {
  font-weight: 300;
  font-size: 32px;
  color: black;
}

.user-stats {
  color: black;
  margin: 15px 0;
}

.stat-number {
  font-weight: 700;
}

.stat-text {
  margin-left: 5px;
}

.followers-stats {
  padding-left: 40px;
}

.following-stats {
  padding-left: 40px;
}

.user-full-name {
  color: black;
  font-weight: 700;
}

.followed-button {
  background: #fafafa;
  color: #3897f0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  text-align: center;
  border: 1px solid #3897f0;
  border-radius: 4px;
  padding: 6px 13px;
  margin-left: 23px;
}

.followed-button:hover {
  cursor: pointer;
}

.unfollowed-button {
  background: #70c050;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  text-align: center;
  border-radius: 4px;
  padding: 6px 13px;
  margin-left: 23px;
}

.unfollowed-button:hover {
  cursor: pointer;
}

.modal {
  display: flex;
  width: 985px;
}

.modal-content {
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 12px;
}

.modal-username {
  padding-left: 20px;
}
